#ignore folders 
/.vxcode/
/about/
/articles/
/assets/
/example-about/
/example-news/
/journal/
/news/
/notes/

# ignore all files in route
*

# ignore all except 
!/_amsf/_app/_pages/
!/_amsf/_app/_posts/
!.gitignore