#ignore folders 
/.vscode/
/about/
/articles/
/assets/
/example-about/
/example-news/
/journal/
/news/
/notes/

# ignore all files in root
/*

# ignore amsf directory to be excepted later
# _amsf/*
# _amsf/_app/*
# _amsf/_app/_pages*
# _amsf/_app/_posts*

# ignore all except 
!_amsf
# !_amsf/_app
# !_amsf/_app/*
# !_amsf/_app/_pages*
# !_amsf/_app/_posts*
!.gitignore